<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="about.css">
    <script src="https://kit.fontawesome.com/05d71ec5ea.js" crossorigin="anonymous"></script>
</head>

<body>
    <div>
        <!-- Navbar -->
        <header style="position: fixed;z-index: 99;">
            <nav>
                <!-- Logo image and Name -->
                <div class="navSection1">
                    <img id="logoImg" src="/resources/images/logo.png" width=20% alt="Logo">
                    <p>Your Voice, Our Action</p>
                </div>
                <div class="navSection2">

                    <ul class="navUl">
                        <li><a href="/screens/status/check_status.html" style=" text-decoration: none;
                            color: black;">Check Status</a></li>
                        <li><a href="/components/about.html" style=" text-decoration: none;
                            color: black;">About us</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="aboutHeroSection">
            <!-- Section 1 -->
            <section class="section1">
                <h1 class="mainhead">
                    Jini
                </h1>
                <p>
                    An Al-based solution to enable ease of grievance lodging and tracking for citizens across multiple departments.                </p>
                <button type="button" class="btn"><a href="../screens/chat.html" style="text-decoration: none; color: white;">Chat Jini</a></button>
            </section>

            <!-- section 2 -->
            <section class="section2">

                <img src="../resources/images/Handshake img.jpg" alt="handShake img">
            </section>
        </div>
        <!-- card section -->
        <section class="cardSectionContainer">
            <h1 class="memberHead">Team Members</h1>
            <div class="cardSection1">
                <div class="card">
                    <div class="image">
                        <img src="../resources/images/prameet.jpg" alt="">
                    </div>
                    <div class="profession">
                        <p class="name">Prameet Kumar</p>
                        <p class="skills">Web Developer</p>
                    </div>
                    
                </div>

                <div class="card">
                    <div class="image">
                        <img src="../resources/images/himashu.jpg" alt="">
                    </div>
                    <div class="profession">
                        <p class="name">Himanshu Kumar</p>
                        <p class="skills">Web Developer</p>
                    </div>

                </div>

                <div class="card">
                    <div class="image">
                        <img src="../resources/images/Dezy1.jpg" alt="">
                    </div>
                    <div class="profession">
                        <p class="name">Dezy Kumari</p>
                        <p class="skills">Web Developer</p>
                    </div>

                </div>
            </div>

            <div class="cardSection2">
                <div class="card">
                    <div class="image">
                        <img src="../resources/images/aditya.jpg" alt="">
                    </div>
                    <div class="profession">
                        <p class="name">Aditya Kumar</p>
                        <p class="skills">Web Developer</p>
                    </div>
                     
                </div>

                <div class="card">
                    <div class="image">
                        <img src="../resources/images/shalini.jpg" alt="">
                    </div>
                    <div class="profession">
                        <p class="name">Shalini Kumari</p>
                        <p class="skills">Web Developer</p>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="../resources/images/Ankit.jpg" alt="">
                    </div>
                    
                    <div class="profession">
                        <p class="name">Ankit Raj</p>
                        <p class="skills">Web Developer</p>
                    </div>
                    
                </div>
            </div>

        </section>
    </div>

    <section class="newsletter section text-light">
        <div class="container-sm">
            <div class="newsletter-inner section-inner">
                <div class="newsletter-header text-center">
                    <p class="section-paragraph" style="font-size: 1.5rem;">Drop us a message</p>
                </div>
                <form style="display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 20px;" action="https://formsubmit.co/himanshuvishwas58@gmail.com" method="POST">
                    <input type="text" name="name" placeholder="Your good name" style=" padding: 0.5rem; border:none; border-radius: 1rem;" required>
                    <input type="tel" name="phone" placeholder="Phone number" style=" padding: 0.5rem; border:none; border-radius: 1rem;">
                    <input type="email" name="email" placeholder="Your email" style=" padding: 0.5rem; border:none; border-radius: 1rem;" required>
                    <input type="text" name="message" placeholder="Your message" style=" padding: 0.5rem; border:none; border-radius: 1rem;" required>
                    <button class="button-contact" type="submit">Send</button>
               </form>
                <div class="footer-form newsletter-form field field-grouped">
                                                
                    <!-- <div class="control control-expanded">
                        <input class="input" type="email" name="email" placeholder="Your best email&hellip;">
                    </div>
                    <div class="control">
                        <a class="button button-primary button-block button-shadow" href="#">Early access</a>
                    </div> -->
                </div>
            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer>
        <div class="footer-columns">
            <div class="footer-column">
                <h3 class="footer-heading">Resources</h3>
                <ul class="footerul">
                    <li class="footer-item">Desktop Apps</li>
                    <li class="footer-item">Partners</li>
                    <li class="footer-item">Experts</li>
                </ul>
            </div>
            <div class="footer-column">
                <h3 class="footer-heading">Category</h3>
                <ul class="footerul">
                    <li class="footer-item">Police Support</li>
                    <li class="footer-item">Criminal Cases</li>
                    <li class="footer-item">Roobery</li>
                    <li class="footer-item">Phone Snatching</li>
                </ul>
            </div>
            <div class="footer-column">
                <h3 class="footer-heading">Support</h3>
                <ul class="footerul">
                    <li class="footer-item">Updates</li>
                    <li class="footer-item">Community</li>
                    <li class="footer-item">HelpLine Number</li>
                    <li class="footer-item">Chat Sipport 24X7</li>
                </ul>
            </div>
        </div>
        <div class="social-icons">
            <a href="#"><i class="fab fa-instagram social-icon"></i></a>
            <a href="#"><i class="fab fa-linkedin social-icon"></i></a>
            <a href="#"><i class="fab fa-github social-icon"></i></a>
            <a href="#"><i class="fab fa-twitter social-icon"></i></a>
        </div>
        <div class="copyright">
            &copy; 2023 Jini. Made with <span style="color: red;">❤</span> by  HardPass
        </div>
    </footer>


    </div>

</body>

</html>